@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --marquee-gap: 1rem;

  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  width: 100vw;
  min-height: 100vh;
  background-color: #000;
  overflow: hidden;
}

.vertical-text {
  writing-mode: vertical-lr;
  text-orientation: mixed
}

.scrollbar-hide {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}


/* ======================================= */
.wrapper {
  padding: 4.8rem 0px;
  color: white;
  font-size: 4rem;
}

.marquee-text {
  overflow: clip;
}

.marquee-text-track {
  display: flex;
  padding-inline-start: 4.8rem;
  gap: 4.8rem;
  width: max-content;
  animation: marquee-move-text 10s linear infinite;
}

.marquee-text p {
  padding: 1rem 2.5rem;
}

@keyframes marquee-move-text {
  to {
    transform: translateX(-50%);
  }
}